
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>

   
<div class="topnav" id="myTopnav">
    <img src="assets/logo.jpg" class="logo" style="width:90px;height:50px;">
    <a href="#home" class="active">Home</a>
    
    <div class="dropdown">
      <button class="dropbtn">Static Data 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Employees</a>
        <a href="#">Projects</a>
        <a href="#">Tasks</a>
        <a href="#">Discipline Codes</a>
        <a href="#">Stage Code</a>
      </div>
    </div> 
    <a href="#contact">Timesheet</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
 
  