<div class="Project-container">
    <div class="Project-header">
      <div class="actions-container">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter Projects...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addNewProject()">
          <mat-icon>add</mat-icon> Add Project
        </button>
      </div>
    </div>
  
    <div class="mat-elevation-z8 table-container">
      <table mat-table [dataSource]="dataSource" class="Project-table">
        
        <!-- ID Column -->
        <ng-container matColumnDef="Project Name">
          <th mat-header-cell *matHeaderCellDef> Project Name </th>
          <td mat-cell *matCellDef="let Project"> {{Project.projectCode}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="Project Code">
          <th mat-header-cell *matHeaderCellDef> Project Code </th>
          <td mat-cell *matCellDef="let Project"> {{Project.projectName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let Project"> {{Project.Country}} </td>
          </ng-container>
     
   <!-- Status Column -->
   <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let Project"> 
      <span class="status-badge" [ngClass]="Project.status === 'Active' ? 'active' : 'inactive'">
        {{Project.status}}
      </span>
    </td>
  </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let Project">
            <button mat-icon-button color="primary" (click)="editProject(Project)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProject(Project)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <!-- Row shown when there is no matching data -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="8">No data matching the filter</td>
        </tr>
      </table>
  
      <!-- You can add pagination here -->
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Projects"></mat-paginator>
    </div>
  </div>