<!-- app.component.html or login.component.html -->
<div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >

    <mat-card style="display: flex; flex-direction: column; width: 100%; max-width: 400px; padding: 20px;">
  
      <!-- Centered Logo -->
      <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <img src="../../assets/logo.jpg" alt="Logo" style="width: 50%;" />
      </div>
  
      <mat-form-field appearance="outline">
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Username or email"  formControlName="email"/>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-icon matSuffix>password</mat-icon>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
      <div *ngIf="error" style="color: red">{{ error }}</div>

      <button mat-raised-button color="primary" type="submit">
        Login
      </button>
  

    </mat-card>
</form>
  </div>
  