<div class="container">
<!-- <app-week-selector class="weekselector"  ></app-week-selector> -->

<form [formGroup]="timesheetForm" >
<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="weekPicker" formControlName="weekRange">
    <input matStartDate placeholder="Start date" (dateChange)="getDatabyWeek($event.value)" >
    <input matEndDate placeholder="End date" disabled>
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="weekPicker"></mat-datepicker-toggle>
  <mat-date-range-picker #weekPicker [dateClass]="dateClass"></mat-date-range-picker>
</mat-form-field>

</form>
  <table mat-table *ngIf="isAvailable" #table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
     
    <ng-container matColumnDef="ProjectName">
        <th mat-header-cell *matHeaderCellDef>Project Name </th>
        <td mat-cell *matCellDef="let element">      
           {{element.projectName}}

        </td>
      </ng-container>
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element">
          {{element.country}}
    </td>
    
      </ng-container>
      <ng-container class="projCode" matColumnDef="ProjectCode">
        <th mat-header-cell *matHeaderCellDef> ProjectCode </th>
        <td mat-cell *matCellDef="let element">
          
          {{element.projectCode}}
      
    </td>
  </ng-container>

  <ng-container class="projCode" matColumnDef="HoursWorked">
    <th mat-header-cell *matHeaderCellDef> Hours this Week </th>
    <td mat-cell *matCellDef="let element">
      
  
      {{element.hoursWorked}}  
</td>
</ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="openDetailsDialog(element.projectCode)">
          More Details
        </button>
       

      </td>
    </ng-container>

   
    <!-- Define the header and row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <table mat-table *ngIf="!isAvailable" #table  class="mat-elevation-z8">
    <!-- ID Column -->
     
    <ng-container matColumnDef="ProjectName">
        <th mat-header-cell *matHeaderCellDef>Project Name </th>
        <td mat-cell *matCellDef="let element">      
           {{element.projectName}}

        </td>
      </ng-container>
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element">
          {{element.country}}
    </td>
    
      </ng-container>
      <ng-container class="projCode" matColumnDef="ProjectCode">
        <th mat-header-cell *matHeaderCellDef> ProjectCode </th>
        <td mat-cell *matCellDef="let element">
          
          {{element.projectCode}}
      
    </td>
  </ng-container>

  <ng-container class="projCode" matColumnDef="HoursWorked">
    <th mat-header-cell *matHeaderCellDef> Hours this Week </th>
    <td mat-cell *matCellDef="let element">
      
  
      {{element.hoursWorked}}  
</td>
</ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="openDetailsDialog(element.projectCode)">
          More Details
        </button>
       

      </td>
    </ng-container>

   
    <!-- Define the header and row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="button-center"><button  mat-raised-button (click)="openNewRecordDialog()">Add New Record</button></div>
</div>