table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  /* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.mat-mdc-header-row{
background-color: rgb(196, 196, 196);

}
.mat-mdc-header-cell{
  border: 0.5px solid #797979;
}
.mat-mdc-cell
{
  border-left-style: solid;
  border-right-style: solid;
  border-width: 0.1px;
  border-color: #797979;

}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 750px;
}

.DST_Input
{
  width: 25px;
}

.weekselector{
padding-top: 20px;
  float: right;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #efefef;
  margin: 3px;
}

.projCode{
  width: 500px !important;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Structure */
.example-container {
display: flex;
flex-direction: column;
min-width: 300px;
}

.example-header {
min-height: 64px;
padding: 8px 24px 0;
}
.mat-mdc-header-row{
background-color: rgb(196, 196, 196);

}
.mat-mdc-header-cell{
border: 0.5px solid #797979;
}
.mat-mdc-cell
{
border-left-style: solid;
border-right-style: solid;
border-width: 0.1px;
border-color: #797979;

}
.mat-form-field {
font-size: 14px;
width: 100%;
}

.mat-table {
overflow: auto;
max-height: 750px;
}

.DST_Input
{
width: 25px;
}

.weekselector{
padding-top: 20px;
float: right;
}

.mat-mdc-raised-button:not(:disabled) {
background-color: #efefef;
margin: 3px;
}

.projCode{
width: 500px !important;
}