  *
  {
    font-size: 12px;
  }

  .container
  {
  flex: auto;
  }

  .week-days mat-form-field {
    flex-wrap: wrap;
  }

  mat-form-field {
    width: 20%;
    padding: 3px;
  }

  
  
.mat-mdc-raised-button:not(:disabled) {
  background-color: #efefef !important;
  margin: 3px;
}